<header>
    <div>
        <div class="header-left">
            <div class="menu-toggle" id="menuToggle">☰</div>
            <div class="logo">SREBS</div>
        </div>
        <div class="auth-links" id="authLinks">
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </div>
    </div>
    <div class="dropdown-menu" id="dropdownMenu">
        <a href="/register-seller">Register as Seller</a>
        <a href="/contact">Contact</a>
    </div>
</header>