<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SREBS</title>
</head>
<body>
    {{> header}}
    
    <div class="container">
        {{> sidebar}}
        <main>
            {{{body}}}
        </main>
    </div>
    
    {{> footer}}
</body>
</html>