{{!-- 
<div class="profile-container">
    <h2>My Profile</h2>
    <div id="profileData">Loading...</div>
    <button id="logoutBtn">Logout</button>
</div>
<script src="/js/profile.js"></script>
--}}


<div class="main-wrapper">
  <div class="main-content">
    <div class="qr-icon"></div>
    <div class="scan-title">Scan QR</div>
  </div>

  <div class="footer-text">© 2025 SREBS</div>
</div>

