<div class="dashboard">
    <h1>Dashboard</h1>
    
    <div class="tabs">
        <a href="/dashboard/project" class="tab active">Project Management</a>
        <a href="/dashboard/return" class="tab">Return Management</a>
        {{!-- <a href="/dashboard/tab3" class="tab">Tab 3</a> --}}
    </div>
    
    <div class="tab-content">
        {{!-- {{> dashboard/project-management}} --}}
        {{!-- res.render('pages/dashboard/project-management') --}}
    </div>
</div>