<div class="dashboard">
    <h1>Dashboard</h1>
    
    <div class="tabs">
        <a href="/dashboard/project" class="tab active">Project Management</a>
        <a href="/dashboard/return" class="tab">Return Management</a>
        <a href="" class="tab" id="logoutElem">Log Out</a>
    </div>
    
    <div class="tab-content">

    </div>
</div>

<script src = "/js/logout-seller.js"></script>