<br>
<div class="tabs">
    <a href="/home" class="tab active">Return to Home</a>
</div><br>

<div class = "cart-management">
    <h2>My Cart</h2>
    <div class="actions">
        <button id="clear-cart" class="btn">Clear Cart</button>
    </div><br>

    <table class="carts-table">
        <thead>
            <tr>
                <th>Product ID</th> {{!-- Different from Cart ID --}}
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{!-- Dynamic rows will be inserted here --}}
        </tbody>
    </table>

    {{!-- Form to Edit a Product's Quantity --}}
    <div id="edit-cart-form-container" style="display:none;">
        <h3>Edit Cart</h3>
        <form id="edit-cart-form">
            <input type="hidden" id="edit_cart_item_id" name="cart_item_id">
            <div id="edit_item_product_name"></div>
            <div class="form-group">
                <label for="edit_cart_item_quantity">Edit Quantity</label>
                <input type="number" id="edit_cart_item_quantity" name="cart_item_quantity" min="1" required>
            </div>
            <button type="submit" class="btn">Update</button>
            <button type="button" id="cancel-edit-cart" class="btn">Cancel</button>
        </form>
    </div>

    <br>
    <div class="actions">
        <button id="cart-checkout" class="btn">Proceed to Checkout</button>
    </div>
</div>

<script src = "/js/cart-list.js"></script>