    <br>
    <div class="tabs">
        <a href="/home" class="tab active">Return to Home</a>
    </div><br>

    <div class="profile-container">
        <h2>Payment {{status}}</h2>
        <div id="profileData">Order ID: {{order_id}}</div>
        <div id="profileData">Amount: ₹{{amount}}</div>
    </div>