<div class="seller-registration">
    <h2>Register as Seller</h2>
    <form id="seller-registration-form">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="payment_from">Payment From</label>
            <input type="date" id="payment_from" name="payment_from" required>
        </div>
        <div class="form-group">
            <label for="payment_to">Payment To</label>
            <input type="date" id="payment_to" name="payment_to" required>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <textarea id="location" name="location"></textarea>
        </div>
        <div class="form-group">
            <label for="shop_name">Shop Name</label>
            <input type="text" id="shop_name" name="shop_name" required></input>
        </div><br>
        <button type="submit" class="btn">Register Shop</button>
    </form>
</div>

<script src = "/js/register-seller.js"></script> <!-- public folder is acting as root -->